/*
MAIN CSS
You may change this or remove entirely.
This file is only intended for CSS overriding.
*/

#masthead { background: #0084ff; }
#masthead * { margin: 0; padding: 0; }

#contents { background: #f4f4f4; }
	#contents .entry { background: #c3ffbe; padding: 10px 0; }
		#contents .entry .page,
		#contents .entry .post { 
			outline: 1px solid #000;
			margin: 10px 20px;
			padding: 10px;
			background: #deffe6;
		}
	#contents .sidebar { background: #f5ffbe; }
		#contents .sidebar .widget {
			outline: 1px solid #000;
			margin: 10px 20px;
			padding: 10px;
		}

#subhead { background: #0084ff; padding: 40px 0; color: #fff; text-align: center; }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/*=== GENERAL LAYOUT ===*/
body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #666;
	
	line-height: 20px;
}

a:visited,
a:link {
	color: #104686;
}

a:hover {
	color: #0059d3;
}

a:active {
	color: #ff7800;
}


.wrapper {
	width: 1140px;
	margin: auto !important;
}


/*=== MAIN MENU ===*/
/* LEVEL 1 */
#site-navigation {
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	background: #000;
}

	#site-navigation ul {}
		#site-navigation ul li {
			float: left;
			position: relative;
		}
		
		#site-navigation ul li.current_page_parent a,
		#site-navigation ul li.current_page_ancestor a,
		#site-navigation ul li.current-menu-parent a,
		#site-navigation ul li.current-menu-ancestor a,
		#site-navigation ul li.current_page_item a,
		#site-navigation ul li.current-menu-item a,
		#site-navigation ul li:hover a {
			background: #333;
			color: #fff;
		}
		
		#site-navigation ul li:hover > ul {
			display: block;
		}
					
			#site-navigation ul li a {
				display: block;
				padding: 10px 20px;
				
				text-decoration: none;
				text-transform: uppercase;
				
				color: #ff7e00;
			}
			
/* LEVEL 2 */
#site-navigation ul ul {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
}
	#site-navigation ul ul li {
		float: none;
		position: relative;
	}
		#site-navigation ul ul li:hover a {
			background: #ccc;
			color: #333;
		}
		
		#site-navigation ul ul li a {
			width: 200px;
			
			background: #666;
			color: #fff;
			border-bottom: 1px dotted #ccc;
		}

/* LEVEL 3 */
#site-navigation ul ul ul {
	position: absolute;
	top: 0;
	left: 240px;
}
	#site-navigation ul ul ul li {}
		#site-navigation ul ul ul li a {
			width: 200px;
			border-left: 1px solid #ccc;
			background: #333;
			color: #ccc;
		}
		
/*=== CONTENTS ===*/
.primary { 
	width: 65%;
	float: left;
}

.full-width {
	float: none;
	width: 100%;
}
	.entry {}

		article.page,
		.post {
			margin: 0 30px;
		}
			.archive-heading,
			.post-title a,
			.post-title {
				font-size: 24px;
				font-weight: 300;
				color: #014686;
				text-decoration: none;
			}
			
			.archive-heading {
				padding: 20px 0 10px;
				border-bottom: 1px dashed #014686;
			}
			
			.edit-link,
			.readmore { 
				float: right;
				display: block;
				width: 150px;
				height: 30px;
				line-height: 30px;
				margin: 0 0 0 5px;
				background: #0059d3;
				text-align: center;
				text-transform: uppercase;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			.edit-link:hover,
			.readmore:hover {
				background: #ff7800;
			}
			
			.edit-link:active,
			.readmore:active {
				background: #014686;
			}
			
				.edit-link a,
				.readmore a {
					color: #fff;
					text-decoration: none;
					display: block;
				}
		
		.post-navigation,
		.pagination {
			clear: both;
			padding: 40px 0;
			margin-top: 40px;
		}
		
			.prev { float: left; }
			.next { float: right; }
			
			.prev a,
			.next a {
				display: block;
				width: 150px;
				height: 30px;
				line-height: 30px;
				margin: 0 0 0 5px;
				background: #0059d3;
				text-align: center;
				text-transform: uppercase;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				
				color: #fff;
				text-decoration: none;

			}
			
			.post-navigation a[rel="prev"] {
				float: left;
			}
			
			.post-navigation a[rel="next"] {
				float: right;
			}
				
		

.sidebar {
	width: 30%;
	float: right;
}

	.widget {}
		.widget-title {
			color: #014686;
			font-size: 20px;
			font-weight: 300;
			text-transform: capitalize !important;
		}
		
		.widget ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

/*=== FOOTER ===*/
