/*
Theme Name: THG Blank
Theme URI: http://www.htmlguys.com;
Description: THG Blank WordPress Theme 
Author: HTMLGUYS Theme Developer
Version: 2.0
Tags: 
License: 
License URI: 
*/

/*=== HTML5 ===*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

:focus {/* remember to define focus styles! */
	outline: 0;
}

/*=== Base ===*/
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { color: #222; font-family: sans-serif; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

/*=== Links ===*/
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/*=== Typography ===*/
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; margin: 1em 0; padding: 0; height: 1px; border: 0; border-top: 1px solid #ccc; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-weight: bold; font-style: italic; }

pre, code, kbd, samp { font-size: 1em; font-family: monospace, serif; _font-family: 'courier new', monospace; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

small { font-size: 85%; }

sub, sup { position: relative; vertical-align: baseline; font-size: 75%; line-height: 0; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/*=== Lists ===*/
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }

/*=== Embedded content ===*/
img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }

/*=== Figures ===*/
figure { margin: 0; }

/*=== Forms ===*/
form { margin: 0; }
fieldset { margin: 0; padding: 0; border: 0; }

label { cursor: pointer; }
legend { padding: 0; border: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { margin: 0; vertical-align: baseline; font-size: 100%; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/*=== Tables ===*/
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
td { vertical-align: top; }
caption, th, td {
	font-weight: normal;
	text-align: left;
}

/*=== Chrome Frame Prompt ===*/
.chromeframe { margin: 0.2em 0; padding: 0.2em 0; background: #ccc; color: black; }


/*=== WordPress Defaults ===*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}
img.alignnone,
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 1.5em;
}
.wp-caption {
    margin-bottom: 1.5em;
    padding: 8px;
    max-width: 96%;
    background: #efefef;
}
.wp-caption img {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.wp-caption-text {
    position: relative;
    margin-bottom: 0.6em;
    padding: 10px 5px 5px;
    color: #7a7a7a;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    font-family: Georgia, serif;
}
img[class*="wp-image-"] {
    padding: 5px;
    border: 0px solid #ddd;
    background: none;
}

/* Responsive images */
#contents img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/*=== GALLERY ===*/
.gallery {
	margin: auto;
}

.gallery dl { margin: 0; }
.gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 33%;
	margin: 0;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.gallery-item img {
	border: 2px solid #cfcfcf;
	max-width: 100%;
}

.gallery-item .gallery-caption {
	margin-left: 0;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
	margin: 0 5px;
}
.gallery-columns-2 .gallery-item {
	width: 48%;
	margin: 0 5px;
}
.gallery-columns-3 .gallery-item {
	width: 30%;
	margin: 0 10px;
}

.gallery-columns-3 .gallery-item img { width: 100%: }
.gallery-columns-4 .gallery-item {
	width: 22%;
	margin: 0 9px;
}
.gallery-columns-5 .gallery-item {
	width: 17%;
	margin: 0 9px;
}
.gallery-columns-6 .gallery-item {
	width: 15%;
	margin: 0 5px;
}
.gallery-columns-7 .gallery-item {
	width: 12%;
	margin: 0 7px;
}
.gallery-columns-8 .gallery-item {
	width: 10%;
	margin: 0 8px;
}
.gallery-columns-9 .gallery-item {
	width: 9%;
	margin: 0 6px;
}
.gallery-columns-10 .gallery-item {
	width: 8%;
	margin: 0 5px;
}
		
/*=== Generic Widgets ===*/
.widget  { margin: 0 0 30px 0; }
.widget h3  { margin: 20px 0; padding: 0; text-transform:uppercase; }
.widget p { margin-bottom:15px; }

.widget ul  { clear:both; padding-left:10px; list-style-position:inside; list-style-type:disc;}
.widget ul li  {}
.widget ul li a  { padding: 0 0 0 5px; line-height: 22px; text-decoration: none; word-break: break-all; }
.widget ul li a:hover  { text-decoration:underline; }
.widget ul ul  { padding: 0 0 0 15px; border-top: none; }

/*=== CALENDAR ===*/
#wp-calendar{width:100%;margin-bottom:15px;clear:both;padding:0;}
#wp-calendar caption{padding:0 0 10px;}
#wp-calendar th,#wp-calendar td{text-align:center;background:rgba(0,0,0,.05);padding:5px;}
#wp-calendar td{background:transparent;}
#wp-calendar td,table#wp-calendar th{padding:3px 0;}
#wp-calendar a { color: #000; font-weight: bold; }

/*=== CONTENTS ===*/
.sticky {}

#contents {
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}

#contents .entry table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;	
}

#contents .entry th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}

#contents .entry td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}

	.entry h1 { font-size: 26px; }
	.entry h2 { font-size: 24px; }
	.entry h3 { font-size: 20px; }
	.entry h4 { font-size: 18px; }
	.entry h5 { font-size: 16px; }
	.entry h6 { font-size: 14px; }

	.entry h1,
	.entry h2,
	.entry h3,
	.entry h4,
	.entry h5,
	.entry h6 { margin: 10px 0; }

/*=== Comments ===*/
#comments {position:relative;margin:20px 0 0;padding:20px 0 0 0;}
#comments h3  { color:#333; font-weight:normal; margin-bottom:20px; }
#comments .comment.thread-even { background: #fafafa; background: rgba(0,0,0,0.02); border-bottom:1px solid #e6e6e6; border-bottom:1px solid rgba(0,0,0,0.07); }
#comments .comment{ margin-top:10px;width:100%;list-style-type:none; }
#comments .comment article.comment { padding: 20px; width: auto; }
#comments .bypostauthor {}
#comments .comment .comment-container  { position:relative; padding: 20px; }
#comments .comment-head  { margin: 0 0 15px 0; }
#comments  .avatar  { float:left; margin: 0 15px 10px 0; }
#comments  .avatar img{margin: 0;vertical-align: middle;border:1px solid #ddd; padding:3px; background:#fff; }
#comments .comment-head .name  { margin: 0; font-weight: bold; font-size: 15px; }
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma { font-size: 11px; }
#comments .comment-entry p  { margin: 0 0 10px 0;}
#comments .reply { padding-top:10px; }
#comments .reply a { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; background:#FFFFFF; color:#555555 !important; text-shadow:none; }
#comments .reply a:hover { background:#fafafa; }

#comments ul.children{margin:10px 10px 0 25px;padding:0; }
#comments ul.children li {border-top:1px solid #e6e6e6; }
#comments .cancel-comment-reply{margin:10px 0;}

#comments .navigation { padding: 20px 0; }
#comments .navigation a{ display: block; margin: 15px 0 0 0; text-decoration: none; }
#comments .navigation a:hover{}
#comments .navigation .nav-previous { float: left;}
#comments .navigation .nav-next { float: right; }
#comments h3#pings { margin-top:25px; }
#comments .pingbacks li.pingback { margin:10px 0; }
#comments .pingbacks li.pingback .reply { display:none; }

/*=== Comments Form ===*/
#respond  { margin: 40px 0 0; clear: both; }
#respond h3 { color:#333; font-weight:normal; margin-bottom:20px; }
#respond #reply-title small { display: block; font-size: 14px; margin-top: 5px; }
#respond .left { float:left; width:200px; margin-right:15px; }
#respond .right { float:left; width:380px; }
#respond label { font-size:11px; color:#777; }

#commentform  {	margin: 15px 0 0 0;  }
#commentform input.txt, #commentform textarea { font:14px/14px Arial, Helvetica, sans-serif; border-color: #ccc #efefef #efefef #ccc; border-width:1px; border-style:solid;}
#commentform input.txt  { color:#666; background: #fcfcfc; width: 170px; margin: 0 5px 10px 0; padding: 5px 7px; }
#commentform textarea  { color:#666; background: #fcfcfc; width: 95% !important; padding: 5px 7px; }

#commentform #submit  { margin: 15px 0 0 0;  }

/*=== Pingbacks / Trackbacks ===*/
h3#pings  { margin: 25px 0 10px 0; }
.pinglist li  { margin: 0 0 0 20px; list-style-type: decimal; }
.pinglist li .author  { font-weight: bold; font-size: 15px; }
.pinglist li .date  { font-size: 11px; }
.pinglist li .pingcontent  { display: block; margin: 10px 0; }

/*=== Non-Semantic helper classes ===*/
.ir { border:0; background-color: transparent; color: transparent; text-shadow: none; font: 0/0 a; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; padding: 0; width: 1px; height: 1px; border: 0; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position: static; overflow: visible; clip: auto; margin: 0; width: auto; height: auto; }
.invisible { visibility: hidden; }

.group:before, .group:after { display: table; content: ""; }
.group:after { clear: both; }
.group { *zoom: 1; }


.clearfix {
	height: 0px !important;
	overflow: hidden;
	clear: both;
}
