/*=== MAIN MENU ===*/
/* LEVEL 1 */
#site-navigation {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

	#site-navigation ul {}
		#site-navigation ul li {
			float: left;
			position: relative;
		}
		
		#site-navigation ul li.current_page_parent a,
		#site-navigation ul li.current_page_ancestor a,
		#site-navigation ul li.current-menu-parent a,
		#site-navigation ul li.current-menu-ancestor a,
		#site-navigation ul li.current_page_item a,
		#site-navigation ul li.current-menu-item a,
		#site-navigation ul li:hover a {
			background: #333;
			color: #fff;
		}
		
		#site-navigation ul li:hover > ul {
			display: block;
		}
					
			#site-navigation ul li a {
				display: block;
				padding: 10px 20px;
				
				text-decoration: none;
				text-transform: uppercase;
				
				color: #666;
			}
			
/* LEVEL 2 */
#site-navigation ul ul {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
}
	#site-navigation ul ul li {
		float: none;
		position: relative;
	}
		#site-navigation ul ul li:hover a {
			background: #ccc;
			color: #333;
		}
		
		#site-navigation ul ul li a {
			width: 200px;
			
			background: #666;
			color: #fff;
			border-bottom: 1px dotted #ccc;
		}

/* LEVEL 3 */
#site-navigation ul ul ul {
	position: absolute;
	top: 0;
	left: 240px;
}
	#site-navigation ul ul ul li {}
		#site-navigation ul ul ul li a {
			width: 200px;
			border-left: 1px solid #ccc;
			background: #333;
			color: #ccc;
		}