/*=== Media Queries ===*/


/* TABLE LANDSCAPE */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {
	
}

/* TABLE POSTRAIT */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}
